<div class="message mb-2 <%= 'right' if message.user == current_user %>">
  <div class="content-wrapper">
    <div class="content "><%= message.content %></div>
    <div class="username"><%= message.user.username %></div>
  </div>
</div>